<header class="masthead bg-primary text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 text-center">
        <img
          src="../../assets/logo.jpg"
          alt="LogoPYME"
          class="img-fluid rounded mb-5"
        />
      </div>
      <div class="col-8">
        <div class="row">
          <h1 class="masthead-heading text-uppercase mb-5">ASSISTYOU</h1>
        </div>
        <div class="row">
          <p class="masthead-subheading mb-3">EST. 1989</p>
        </div>
        <div class="row float-left mb-5">
          <p class="masthead-subheading font-weight-light">
            Assist You lleva más de 25 años en el mercado como la compañía
            número 1 en seguros. Estamos en busca de talento y personas con
            pensamiento innovador.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="card text-center bg-secondary mb-3 ml-4">
          <div class="card-header">
            <p class="masthead-subheading mb-3">EQUIPO</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 text-center">
                <img
                  src="../../assets/b.jpg"
                  alt="LogoPYME"
                  class="img-fluid rounded mb-5"
                />
                <p class="font-weight-bold">Amanda Castaño</p>
                <p class="font-weight-light">CEO</p>
              </div>
              <div class="col-6 text-center">
                <img
                  src="../../assets/H.jpg"
                  alt="LogoPYME"
                  class="img-fluid rounded mb-5"
                />
                <p class="font-weight-bold">Pablo Salazar</p>
                <p class="font-weight-light">CTO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-7">
        <h5 class="text-uppercase mb-4">¡Crea tu convocatoria!</h5>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nombre</label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Ejemplo: Creación de pasarela de pagos"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1"
              >Remuneración estimada COP</label
            >
            <select class="form-control" id="exampleFormControlSelect1">
              <option>$1'000,000-$2'000,000</option>
              <option>>$2'000,000-$3'000,000</option>
              <option>>$4'000,000-$5'000,000</option>
              <option>>$5'000,000-$6'000,000</option>
              <option>>$6'000,000 o más</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1"
              >Descripción y requisitos</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Describa detalladamente de qué se trata el trabajo a realizar y los requisitos que deben cumplir los aspirantes."
            ></textarea>
          </div>
          <div class="form-group">
            <button
              class="btn btn-login btn-xl"
              id="sendMessageButton"
              type="submit"
            >
              Crear
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
