<nav
  class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
  id="mainNav"
>
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href=""
      ><img src="./assets/chainU.png" alt="LogoEmpresa" width="20%"
    /></a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="feedpeque"
            >Convocatorias</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead bg-primary text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 text-center">
        <img
          src="../../assets/tec.jpg"
          alt="LogoPYME"
          class="img-fluid rounded mb-5"
        />
      </div>
      <div class="col-8">
        <div class="row">
          <h1 class="masthead-heading text-uppercase mb-5">
            Soluciones Tecnológicas S.A
          </h1>
        </div>
        <div class="row">
          <p class="masthead-subheading mb-3">EST. 2006</p>
        </div>
        <div class="row float-left mb-5">
          <p class="masthead-subheading font-weight-light">
            Somos una empresa con más de 15 años de experiencia en el sector
            tecnológico. Especializados en el desarrollo y mantenimiento de
            software industrial. Ofrecemos todo tipo de asesoría tecnológica a
            los mejores precios.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="card text-center bg-secondary mb-3 ml-4">
          <div class="card-header">
            <p class="masthead-subheading mb-3">EQUIPO</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 text-center">
                <img
                  src="../../assets/kd.jpg"
                  alt="LogoPYME"
                  class="img-fluid rounded mb-5"
                />
                <p class="font-weight-bold">Juan Duque</p>
                <p class="font-weight-light">CEO</p>
              </div>
              <div class="col-6 text-center">
                <img
                  src="../../assets/a.jpg"
                  alt="LogoPYME"
                  class="img-fluid rounded mb-5"
                />
                <p class="font-weight-bold">Margarita Pulido</p>
                <p class="font-weight-light">CTO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="card text-center bg-secondary mb-3 ml-4">
          <div class="card-header">
            <p class="masthead-subheading mb-3">PROYECTOS PREVIOS</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-4 text-center">
                <img
                  src="../../assets/ecopetrol.png"
                  alt="LogoPYME"
                  class="img-fluid rounded mb-5"
                  width="180px"
                />
                <p class="font-weight-bold">Desarrollo de SW</p>
                <p class="font-weight-light">Ecopetrol</p>
              </div>
              <div class="col-4 text-center">
                <img
                  src="../../assets/grupoexito.png"
                  alt="LogoPYME"
                  class="img-fluid rounded mb-5"
                  width="180px"
                />
                <p class="font-weight-bold">Pasarela de pagos</p>
                <p class="font-weight-light">Grupo Exito</p>
              </div>
              <div class="col-4 text-center">
                <img
                  src="../../assets/bavaria-logo.png"
                  alt="LogoPYME"
                  class="img-fluid rounded mb-5"
                  width="180px"
                />
                <p class="font-weight-bold">Manejo B.D</p>
                <p class="font-weight-light">Bavaria</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
