<nav
  class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
  id="mainNav"
>
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"
      ><img src="./assets/chainU.png" alt="LogoEmpresa" width="20%"
    /></a>
    <div class="collapse navbar-collapse" id="navbarResponsive"></div>
  </div>
</nav>
<header class="masthead bg-primary text-white text-center">
  <div class="container flex-column">
    <div class="row">
      <div class="col-6">
        <h5 class="text-uppercase mb-4">¿Ya haces parte de nuestra familia?</h5>
        <h2 class="text-uppercase text-secondary mb-4">Inicia Sesión</h2>

        <div class="form-floating mb-3">
          <label for="floatingInput"><h6>ID Empresa:</h6> </label>
          <input
            type="idEmpresa"
            class="form-control"
            id="floatingInput"
            placeholder="ID"
          />
        </div>
        <div class="form-floating">
          <label for="floatingPassword"><h6>Contraseña:</h6></label>
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Contraseña"
          />
        </div>
        <br />
        <div class="form-group">
          <a href="empresagrand"
            ><!--empresagrand-->
            <button
              class="btn btn-login btn-xl"
              id="sendMessageButton"
              type="submit"
            >
              Iniciar Sesión
            </button></a
          >
        </div>
      </div>
      <div class="col-6">
        <h5 class="text-uppercase mb-4">¿Aún no haces parte?</h5>
        <h2 class="text-uppercase text-secondary mb-4">¡Regístrate!</h2>

        <div class="form-floating mb-3">
          <label for="floatingInput"><h6>Razón social:</h6></label>
          <input
            type="razonSocial"
            class="form-control"
            id="floatingInput"
            placeholder="Razon social"
          />
        </div>
        <div class="form-floating mb-3">
          <label for="floatingInput"><h6>Sector o industria:</h6> </label>
          <input
            type="sector"
            class="form-control"
            id="floatingInput"
            placeholder="Sector"
          />
        </div>
        <div class="form-floating mb-3">
          <label for="floatingInput"><h6>Fecha fundación:</h6> </label>
          <input
            type="fecha"
            class="form-control"
            id="floatingInput"
            placeholder="Fecha"
          />
        </div>
        <div class="form-floating mb-3">
          <label for="floatingInput"><h6>Especialización:</h6></label>
          <input
            type="especializacion"
            class="form-control"
            id="floatingInput"
            placeholder="Especialización"
          />
        </div>
        <div class="form-floating mb-3">
          <label for="floatingInput"><h6>Descripción:</h6></label>
          <input
            type="descripcion"
            class="form-control"
            style="height: 180px"
            id="floatingInput"
            placeholder="Descripción"
          />
        </div>
        <br />
        <div class="form-group">
          <button
            class="btn btn-login btn-xl"
            id="sendMessageButton"
            type="submit"
          >
            Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
